.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	margin-right: 3rem;
	font-size: 1rem;
	font-family: sans-serif;
	box-shadow: red 5px 5px;
	background-color: rgb(251, 167, 167);
	color: black;

	
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
