body.home{
    background-color : rgb(105, 102, 102);
    height : 500vh;
    width : 100vw;
    overflow-x :hidden;
}

body.home::after{
    content: "";
    position : absolute;
    width: 100%;
    height: 500vh;
    top : 0;
    bottom :0;
    left : 0;
    right : 0;
    @include tablet{
        clip-path : polygon(90% 0, 100% 0, 100% 100% , 80% 100%);
         background-color: rgb(255, 0, 0);
    }

   z-index: -1;
}

.home {
    #primary {
        width: 100vw;
        margin : 0;

        header {
           
            text-align: center;
        }
    }

} 

.site-title {

    font-family: $font__sitetitle ;
    
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},4rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
}

.home .entry-header {
    font-size : clamp(.6rem, #{"-0.875rem + 8.333vw"},3rem);
}




/* --------------------------------------------------------------------------------------- 
Liste des blocs de cours par type_de_cours
------------------------------------------------------------------------------------------ */
.home .cours {
    display : flex;
    flex-direction: column;
    h2 {
        text-align: center;
        color: white;
        text-shadow: 5px 5px black;
        text-decoration: underline;
        font-size: 3em;
        
    }
    section.bloc {
       
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        article {
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border : 2px solid black;
            box-shadow: 10px 10px 10px white;
            background-color: red;
            width : 95%;
            margin : 1%;
            padding  : 1rem;
            text-align : center;
            
            p {
                margin: .4rem;
                font-size: 1rem;
                
                align-items: center;
            }
            a {
                font-size: 1.5rem;
                text-decoration: none;
                color: white;
                text-shadow: 2px 2px black;
                font-family: fantasy;
            }
          
            &:nth-of-type(5){
                
                margin-left: 41em;
            }
            
            
        }
        @include tablet {
            article {
                width : 47%;
                margin : 1%;
            }
        }
        @include desktop {
            article {
            width : 31%;
            margin : 1%;
            }
        }
        
    }
    
}



